:root {
  --background-color: #ffeeee;
  --text-color: rgb(34, 15, 52);
  --button-color: #e6bfbf;
}

h1,
h2,
h3 {
  color: var(--text-color);
  text-align: center;
}
body {
  background-color: var(--background-color);
}
.hero {
  margin: 0 auto;
  padding: 0px 100px 160px 100px;
}
.skills-head {
  margin-top: 120px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.row {
  text-align: center;
}
.skills {
  margin-top: 80px;
}
.btn {
  background-color: #e89c9c;
}
.btn:hover {
  background-color: #cf9494;
}
p {
  text-align: left;
}
@media (max-width: 800px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  p {
    text-align: center !important;
  }
  .hero {
    display: flex;
    justify-content: center;
  }
  .skills-head {
    margin-bottom: 10px;
  }
  .picture {
    width: 250px;
  }
}
.header {
  margin-top: 150px;
}
.about-me {
  margin-top: 150px;
}
.about-me-paragraph {
  text-align: center;
}
.project-name {
  margin-top: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}
.projects-heading {
  margin-top: 100px;
  padding: 50px 50px 50px 50px;
}
